

  <div class="card-content login card column is-one-third is-offset-one-third mt-6">
    <p class="subtitle">
      Sign in to continue.
    </p>
    <div class="field">
      <label for="email-login" class="label">Email</label>
      <div class="control">
        <input class="form-input input" type="text" id="email-login" placeholder="Email address" />
      </div>
    </div>
    <div class="field">
      <label for="password-login" class="label">Password</label>
      <div class="control">
        <input class="form-input input" type="password" id="password-login" placeholder="My password" />
      </div>
    </div>
        <div class="card-footer-item buttons">
      <a class="button is-light" href="/register">
        <strong>Log In</strong>
      </a>
    </div>
    <h6 class="subtitle is-6 has-text-centered">or</h6>
  <footer class="card-footer column is-half is-offset-one-quarter">
    <div class="card-footer-item register buttons">
      <a class="button is-primary" href="/register">
        <strong>Register</strong>
      </a>
    </div>
  </footer>
  </div>
