<div
  class='card-content login card column is-one-third is-offset-one-third mt-6 '
>
  <p class='subtitle'>
    Sign up form
  </p>
  <div class='field'>
    <label for='email-signup' class='label'>Email</label>
    <div class='control'>
      <input
        class='form-input input'
        type='text'
        id='email-signup'
        placeholder='Email address'
      />
    </div>
  </div>
  <div class='field'>
    <label for='password-signup' class='label'>Password</label>
    <div class='control'>
      <input
        class='form-input input'
        type='password'
        id='password-signup'
        placeholder='My password'
      />
    </div>
  </div>
  <div class='card-footer-item buttons'>
    <a class='button signup-form is-light'>
      <strong>Sign Up</strong>
    </a>
  </div>
</div>

<script src="./js/signup.js"></script>